

$color-text-primary: #141414;
$color-text-secondary: #c3c7c3;
$color-white: #ffffff;
$color-orange-dark: #fa4f11;
$color-orange-light: #ff9100;
$color-black: #000000;
$color-sea: #08bbc4;
$color-blue: #42adeb;
$color-yellow: #fcf805;
$color-green: #88cf86;
$color-green-light: #a6dea4;
$color-purple: #9255d4;
$color-red: #f54859;
$color-white-darker: #eeebeb;
$color-blue-dark: #304ba7;
$color-grey: #363b3b;


$margin: 2.5rem;

$padding: 14rem;

$padding-tabL: 8rem;

$paddingP: 4rem;


// @include respond(tab-land){
//    padding: $padding-tabL;

// }