

$color-text-primary: #141414;
$color-text-secondary: #c3c7c3;
$color-white: #ffffff;
$color-orange-dark: #fa4f11;
$color-orange-light: #ff9100;
$color-black: #000000;
$color-sea: #08bbc4;
$color-blue: #42adeb;
$color-yellow: #ffe417;
$color-green: #88cf86;
$color-green-light: #a6dea4;