.section-home{
    padding: 3rem 14rem 3rem 14rem;
   background-color: $color-white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
   min-height: 100vh;
//    background-color: aquamarine;


}


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    &__logo{
        font-family: 'Pacifico', cursive;
        font-size: 4rem;
        font-weight: 100;
    }
    &__list{
        width: 40%;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        padding: .4rem .8rem ;
        border-top: 3px solid transparent;
        
        &:hover{
            border-top: 3px solid $color-orange-dark;
        }
    }
    &__link{
        text-decoration: none;
        color: $color-text-primary;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info{
        max-width: 35rem;
    }
    &__header{
        font-size: 6rem;
    }
    &__text{
        font-size: 1.5rem;
        font-weight: 300;
    }
    &__icon-box{
        align-self: center;
    }
    &__icon{
        font-size: 3rem;
    }
    &__btn{
        margin-top: 1.5rem;
    }
    &__figure{
        width: 100%;
        transform: translateX(15%);
    }
    &__img{
        
        height: 75vh;
    }


}