.section-contact{
   overflow: hidden;
    position: relative;
    &__img{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        transform: scale(1.1);
        background-image: url("/strona1/img/Spring.jpg");
        background-size: cover;
        background-position: center;
        filter: blur(8px);
        z-index: -1;
        
    }
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem $padding;
    @include respond(tab-land){
        padding: 10rem $padding-tabL;
    }
    @include respond(phone){
        padding: 6rem $paddingP;
    }

    &__text{
        font-size: 1.7rem;
        font-weight: 100;
        width: 25%;
        text-align: center;
        line-height: 1.2;
        margin: 2rem 0;
        @include respond(phone){
            width: 90%;
        }
    }
    &__wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        margin-top: 3rem;
        @include respond(phone){
            flex-direction: column;
            align-items: center;
        }
    }
    &__info{
        
        padding-left: 10rem;
        width: 44%;
        @include respond(phone){
            width: 90%;
            text-align: center;
            padding-left: 0;
            
        }
        
    }
    &__adress{
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    &__bold{
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-text-primary;
        line-height: 1.1;
        @include respond(phone){
            font-size: 2.2rem;;
        }
    }
    &__light{
        font-size: 1.6rem;
        font-weight: 100;
        @include respond(phone){
            font-size: 2.2rem;;
        }
    }
    &__align{
        transform: translateY(-3px);
        display: inline-block;
    }

}