.section-blog{
    background-color: $color-purple;
    padding: 10rem $padding;
    @include respond(tab-land){
        padding: 10rem $padding-tabL;
    }
    @include respond(phone){
        padding: 8rem $paddingP;
    }
}

