.section-gallery{
    background-color: $color-yellow;
    padding: 10rem $padding;
    
    @include respond(phone){
        padding: 3rem $paddingP;
    }
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 100;
        width: 45%;
        margin-bottom: 5rem;
        @include respond(phone){
            width: 80%;
            font-size: 1.8rem;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        
        
    }
    &__box-high{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        @include respond(phone){
            flex-direction: column;
        }
    }
    &__big-img{
        flex-basis: 62%;
        
        height: 56rem;
        background-image: url('/strona1/img/peach.jpg');
        background-size: cover;
        background-position: center;
        @include respond(phone){
            height: 26.5rem ;
        }
      
        
        
    }
    &__box-small-img{
        flex-basis: 36%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        
    }
    &__small-img{
        width: 100%;
       
        height: 26.75rem;
        // margin-bottom: $margin;
        // margin-left: $margin;
        &:not(:last-child){
            margin-bottom: $margin;
        }

        &--1{
            background-image: url('/strona1/img/blueberry.jpg');
            background-size: cover;
            background-position: center;
        }
        &--2{
            background-image: url('/strona1/img/blackeberries.jpg');
            background-size: cover;
            background-position: center;
        }

    }
    &__box-low{
        display: flex;
        flex-direction: row;
        width: 100%;
        
        margin-top: $margin;
        @include respond(phone){
            flex-direction: column;
            height: 56rem;
        }
    }
    &__medium-img{
        flex-basis: 50%;
      
        height: 40rem;

        @include respond(phone){
            width: 100%;
        
        }
        &:not(:last-child){
            margin-right: $margin;
            @include respond(phone){
                margin-bottom: $margin ;
            }
        }

        &--1{
            background-image: url('/strona1/img/water.jpg');
            background-size: cover;
            background-position: center; 
        }
        &--2{
            background-image: url('/strona1/img/pepper.jpg');
            background-size: cover;
            background-position: center;

        }
    }
   
}