.section-footer{
background-color: $color-grey;
padding: 3rem $padding;
@include respond(tab-land){
    padding: 3rem $padding-tabL;
}
@include respond(phone){
    padding: 2rem $paddingP;
}

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white-darker;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 100;
    @include respond(phone){
        font-size: 1rem;
        
    }
    &__copy{

    }
    &__logo{
        font-family: 'Pacifico', cursive;
    }
    &__author{

    }
    &__love{
        color: $color-red;
        font-weight: 700;
    }
}