.section-services{
    background-color: $color-blue;
    overflow: hidden;
}


.services{
    display: flex;
    padding: $padding;
    justify-content: space-around;
    flex-direction: row-reverse;
    @include respond(tab-land){
        flex-direction: column;
        padding: 12rem $padding-tabL;
    }

    &__img-box{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-basis: 55%;
        z-index: 1;
        
    }
    &__img{
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include respond(tab-land){
            transform: translate(-20%,-25%) scale(0.80);
            
        }
        @include respond(tab-port){
            transform: translate(-20% , -10%) scale(1);
        }
    }
    &__heading-primary{
        z-index: 1;
        text-align: center;
        @include respond(tab-land){
            margin-bottom: 6rem;
        }
    }
}
