.section-about{
    background-color: $color-sea;
    padding: 3rem $padding 1rem $padding;
    @include respond(tab-land){
        padding: 3rem $padding-tabL 1rem $padding-tabL;
    }
    @include respond(phone){
        padding: 6rem $paddingP;
    }
    

    
    
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include respond(phone){
        flex-direction: column;
    }

    &__img-box{
        flex-basis: 50%;
    }
    &__img{
        width: 100%;
    }
    &__content{
        margin-top: -2rem;
        font-size: 1.6rem;
        flex-basis: 50%;
        padding-left: 5rem;
        @include respond(phone){
            padding-left:0;
            text-align: center;
            font-size: 2rem;
        }
        
    }
    &__text{
        color: $color-white;
        font-weight: 100;
        
        
        &:not(:last-child){
            margin-bottom: 1.2rem;
        }
    }
}